.appointment-card{
    color: black;
    margin-top: 10rem;
    padding: 30px;
    text-align: left;
    background: rgba(0,0,0,.15);
    z-index: 999;

    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,.30);
    box-shadow: -10px 10px 20px rgba(0,0,0,0.3);
    width: 400px;
    color: white;
}

.card-separator{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.appointment-card h3{
    text-align: center;
}