center{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    border: 1px solid white;
}

#catSearchContainer{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 100%;
    justify-content: center;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,.30);
    box-shadow: -10px 10px 20px rgba(0,0,0,0.3);
    width: 400px;

}

#catSearchInputResults{
    background:white;
    margin: 10px;

}

#catSearchResultItem{
    font-size: 1.3rem;
    display: flex;
    gap: 2rem;
    border: 1px solid black;
    padding:10px
}

.search-box{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 100%;
    align-items: flex-start;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,.30);
    box-shadow: -10px 10px 20px rgba(0,0,0,0.3);
    width: 400px;
}

.input-results{
    background: white;
    margin: 10px;
}

.catLogo{
    width: 20px;
    height: 20px;
}

.input-result-item{
    font-size: 1.3rem;
    display: flex;
    gap: 2rem;
    border: 1px solid black;
    padding:10px
}

.search-container{
    display: flex;
    flex-direction: column;
}
