html, body {
height: 100%;
margin: 0;
padding: 0;
}
table {
height: 100%;
width: 100%;
border-collapse: collapse;
}
.review-container{
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    
}

.doctorReview h3{
    text-align: center;
}

.review-container h3{
    justify-self: left;
}

.review-container table{
    background: white;
    /* background: rgba(255, 255, 255, 0.70); */

    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,.30);
}

.stars{
    display: flex;
    color: grey;
    font-size: 3rem;
    cursor: pointer;
    display: inline-flex;
    flex-direction: row-reverse;
}

.stars input:checked ~ label,
.stars label:hover,
.stars label:hover ~ label {
    color: gold;
}

.stars input{
    visibility: hidden;
}

.review-headers{
    color: black;
    background: white;
    font-size: 1.2rem;
}

.review-data{
    color: black;
    
}

.review-data td{
    border: 1px solid black;
}